<ion-tabs>
    <ion-tab-bar slot="bottom" class="custom-tab-bar">
        <ion-tab-button tab="feed">
            <lucide-icon [img]="Home" [size]="24"></lucide-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map">
            <lucide-icon [img]="MapPin" [size]="24"></lucide-icon>
            <ion-label>Mapa</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="openCreateModal()" class="add-tab-btn">
            <lucide-icon [img]="Plus" [size]="28" [strokeWidth]="2.5"></lucide-icon>
        </ion-tab-button>

        <ion-tab-button tab="events">
            <lucide-icon [img]="Calendar" [size]="24"></lucide-icon>
            <ion-label>Eventos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <lucide-icon [img]="User" [size]="24"></lucide-icon>
            <ion-label>Perfil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>