/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

// Custom Modal Styles
.create-content-modal {
    --height: 90%;
    --border-radius: 20px 20px 0 0;

    ion-modal {
        --background: #f8f8f8;
    }
}

// Profile Menu Action Sheet
.profile-menu-action-sheet {
    .action-sheet-group {
        border-radius: 16px 16px 0 0;
    }

    .action-sheet-title {
        font-weight: 600;
        font-size: 1rem;
        color: #1a1a1a;
    }

    .action-sheet-button {
        font-size: 0.938rem;

        &.action-sheet-destructive {
            color: #dc2626;

            ion-icon {
                color: #dc2626;
            }
        }

        ion-icon {
            font-size: 22px;
            margin-right: 12px;
        }
    }
}

// Logout Alert
.logout-alert {
    .alert-head {
        padding-bottom: 0.5rem;
    }

    .alert-title {
        font-weight: 600;
        font-size: 1.125rem;
    }

    .alert-message {
        color: #666;
        font-size: 0.938rem;
    }

    .alert-button {
        font-weight: 600;

        &.alert-button-role-destructive {
            color: #dc2626;
        }
    }
}